{% extends base_template  %}

{% block seccion %}
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'login' %}"></a>Formulario</li>
  <li class="breadcrumb-item active">Listar Formularios</li>
  
</ol>{% endblock seccion %}

{% block content %}


<div class="panel-body">
  <form name="formDelete" method="post">
  {% csrf_token %}
  <table id="example" class="table table-striped" style="width:100%">
          <thead>
              <tr>
                  <th>Arbol id</th>
                  <th class="min-tablet">Latitud</th>
                  <th class="min-tablet">Longitude</th>
                  <th class="min-tablet">Fecha de creación</th>
                  <th class="min-tablet">Creado por</th>
                  <th class="min-tablet">Requiere revisión?</th>
                  <th class="min-desktop">Editar</th>
              </tr>
          </thead>
          <tbody>
              {% for arbol in arboles %}
                  <tr>
                      <td>{{ arbol.id}}</td>
                      <td>{{ arbol.latitud}} </td>
                      <td>{{ arbol.longitud }}</td>
                      <td>{{ arbol.creado }}</td>
                      <td>{{ arbol.creado_por }}</td>

                      {%if arbol.requiere_revision %}
                      <td>Si</td>
                      {%else%}
                      <td>No</td>
                      {%endif%}


                      <td>
                          <!--acciones - boton editar y eliminar-->
                 
                          <a id="{{ arbol.id}}" name="btnusuario"  data-toggle="tooltip" href="editar_formulario/{{arbol.id}}" data-original-title="Editar" data-container="body"><i class="btn btn-primary rounded-pill">Editar</i></a>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </form>
  </div>

  
<script src="static/js/llamarMensajes.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
};

</script>

  {% endblock content  %}

 