{% extends "base-admin.html" %}
{% block seccion %}
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'login' %}"></a>Editar usuarios</li>
  <li class="breadcrumb-item active">{{usuario_editar.username}}</li>
  
</ol>{% endblock seccion %}
{% block subseccion %}Editar Usuario{% endblock subseccion %}
{% block title %}Administrador{% endblock title  %}
{% block content %}
{% load static %}

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ MEDIA_URL }}{{usuario_editar.foto.url}}"  alt="Profile" class="rounded-circle">
              <h2>{{usuario_editar.get_full_name}}</h2>
              <h3>{{usuario_editar.rol}}</h3>
              
            </div>
          </div>

        </div>

       
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

              

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar y/o Activar  Usuario</button>
                </li>

              
              
              </ul>
              <div class="tab-content pt-2">

         

                <div class="tab-pane fade show active profile-overview" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form  method="post">
                    {% csrf_token %}
                   

                    <div class="row mb-3">
                      <label for="nombre" class="col-md-4 col-lg-3 col-form-label">Nombre Completo </label>
                      <div class="col-md-8 col-lg-9">
                        <input name="nombre" type="text" class="form-control" disabled id="nombre" value="{{usuario_editar.get_full_name}}"> 
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="apellidos" class="col-md-4 col-lg-3 col-form-label">Rol </label>
                      <div class="col-md-8 col-lg-9">
                        <select name="rol" id="rol" class="form-control">
                          <option value="Censista" >Censista</option>
                          <option value="Supervisor">Supervisor</option>
                          <option value="SuperForestal">Supervisor Forestal</option>
                          <option value="NoAsignado">No Asignado</option>
                      </select>
                      </div>
                    </div>                

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Activo </label>
                      <div class="col-md-8 col-lg-9">
              
                        {% if usuario_editar.is_staff %}
                          <input  class="form-check-input " checked type="checkbox" role="switch" id="usuario_active" name="usuario_active" >
                        {% else %}
                        <input  class="form-check-input " type="checkbox" role="switch" id="usuario_active" name="usuario_active" >
                        {%endif%}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Grupo</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="grupo" required type="number" class="form-control" id="grupo" value="{{usuario_editar.Grupo}}">
                      </div>
                    </div>


                   
                    <div class="text-center">
                      <button type="submit" id="btnactivarUsuario" name="btnactivarUsuario" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

             

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    <script>


if ('{{usuario_editar.rol}}' == "Censista") {
  document.getElementById("rol").value = "Censista";
  
} else if ('{{usuario_editar.rol}}' == "Supervisor"){
  document.getElementById("rol").value = "Supervisor";
}
else if  ('{{usuario_editar.rol}}' == "SuperForestal"){
  document.getElementById("rol").value = "SuperForestal";
} else {
  document.getElementById("rol").value = "NoAsignado"; 
}

   
    </script>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  window.onload = function() {
      llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
      
  };

</script>


  {% endblock content  %}