{% extends base_template  %}

{% block seccion %}
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'login' %}"></a>Formulario</li>
  <li class="breadcrumb-item active">Listar Formularios</li>
  
</ol>{% endblock seccion %}
{% load static %}
{% block content %}


<div class="panel-body">
  <form name="formDelete" method="post">
  {% csrf_token %}
  <table id="example" class="table table-striped" style="width:100%">
          <thead>
              <tr>
                  <th>Arbol id</th>
                  <th class="min-tablet">Latitud</th>
                  <th class="min-tablet">Longitude</th>
                  <th class="min-tablet">Fecha de creación</th>
                  <th class="min-tablet">Creado por</th>

                  <th class="min-tablet">Ver</th>
                  <th class="min-tablet">Eliminar</th>
              </tr>
          </thead>
          <tbody>
              {% for arbol in arboles %}
                  <tr>
                      <td>{{ arbol.id}}</td>
                      <td>{{ arbol.latitud}} </td>
                      <td>{{ arbol.longitud }}</td>
                      <td>{{ arbol.creado }}</td>
                      <td>{{ arbol.creado_por }}</td>
                      <td>
                          <!--acciones - boton editar y eliminar-->
                          <a id="{{arbol.id}}" name="ver_formulario_censista"  data-toggle="tooltip" href="ver_formulario/{{arbol.id}}" data-original-title="Ver" data-container="body">    <button type="button" class="btn btn-success"><i class="bi bi-eye-fill"></i></button>   </a>
                      </td>
                      <td>
                          <button  name="btn-eliminar1" value="{{arbol.id}}" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal_{{arbol.id}}"><i class="bi bi-trash"></i></button>
                          
                          <div class="modal fade" id="basicModal_{{arbol.id}}" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Basic Modal</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  ¿Está seguro de eliminar el árbol {{arbol.id}}?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                  <button type="submit" class="btn btn-primary" name="btn-eliminar" value="{{arbol.id}}">Eliminar</button>
                                </div>
                              </div>
                            </div>
                          </div><!-- End Basic Modal-->
                        </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </form>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/llamarMensajes.js' %}"></script>
<script type="text/javascript">

    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    
</script>


  {% endblock content  %}