<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">

</head>
{% load static %}
<body>

    <script src="https://kit.fontawesome.com/ab00d86059.js" crossorigin="anonymous"></script>
      <img class="wave" src="https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/Login%20Responsive/img/wave.png" alt="">
      <div class="container">
          <div class="img">
             <img src="static/img/funa.png" alt="">

          </div>
          <div class="login-container">
              <form method="post">
                {% csrf_token %}
                  <h2>Bienvenido</h2>
                  <div class="input-div one">
                      <div class="i">
                          <i class="fas fa-user"></i>
                      </div>
                      <div>
                          <h5>Cédula</h5>
                          {{form.usuario}}
                      </div>
                  </div>
                  <div class="input-div two">
                      <div class="i">
                          <i class="fas fa-lock"></i>
                      </div>
                      <div>
                          <h5>Contraseña</h5>
                         {{form.password}}
                      </div>
                  </div>
                  <p></p>
                  <a href="#">¿Ólvido su contraseña?</a>
                  <p>&nbsp;</p>
                  <a href="{% url 'registro_usuario' %}">Registrese</a>

                  <input class="btn" type="submit" name="btnlogin" value="Ingresar">

                
              </form>
              
          </div>
      </div>

  </body>

  <script src="{% static 'js/llamarMensajes.js' %}"></script>
  <script src="static/js/login.js"></script>  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
};

</script>




</html>